/*
font-family: 'Josefin Sans', sans-serif;
*/
header{
    font-family: 'Josefin Sans', sans-serif;
}

/*style="list-style-position: inside; vertical-align:middle; text-align: center;"*/

.hiz-orta{
    text-align: center;
}
.kb{
    font-weight: bold;
    font-size: large;
    font-family:'Josefin Sans', 'sans-serif';
    color:royalblue;
}
.li1{
    font-family: 'Josefin Sans', 'sans-serif';
    font-weight: bold;
}
.duz-i{
    font-family: 'Josefin Sans', 'sans-serif';
    font-style: italic;
}

.arka-renk{
    background-color:beige;
}